@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --orange: #e6a954;
  --marron: #241c12;
  --gris: #000000a8;
  --gris-secondaire: #707070;
  --gris-clair: #00000029;
  --black: #1a140d;
  --red: #e90d00;
  --text-content: #efefef;
}

* {
  margin: 0;
  padding: 0;
  resize: none;
  outline: none;
}

h1 {
  letter-spacing: -0.45px;
  font: normal normal bold 90px/113px Dosis;
  text-align: center;
}

h1 a {
  color: var(--orange);
}

a {
  text-decoration: none;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fire-lottie {
  width: 125px;
  height: 125px;
}

body {
  background-color: var(--marron);
}

.notes-container {
  display: grid;
  margin: 2rem 200px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}
.note {
  background-color: var(--black);
  border-radius: 1rem;
  border: 0.5px solid var(--orange);
  padding: 1rem 1.5rem;
  min-height: 400px;
  transition: filter 300ms ease-out;
  color: var(--text-content);
}
/* Animations */
.note:hover {
  transition: filter 300ms ease-out;
  filter: sepia(1);
}

.note.new-note {
  animation: roll-in 1.5s ease;
}
.note.show-note {
  width: 50%;
  margin: 2rem auto;
}

@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}

/* Call to actions */
.note-button {
  position: fixed;
  z-index: 10;
  bottom: 1rem;
  right: 70px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--orange);
  box-shadow: 0px 5px 26px var(--gris);
}

.edit {
  bottom: 8rem;
}

button#note_save {
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.note-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}

.note-button:hover svg path {
  fill: var(--orange);
}

.note-button:hover::after {
  color: var(--orange);
}
.note-button:hover {
  background: transparent
    radial-gradient(
      closest-side at 50% 50%,
      #e68754 0%,
      #fb2b0e 54%,
      #e90d00 100%
    )
    0% 0% no-repeat padding-box;
}

button {
  border: none;
}

/* Formulaire */
.note-form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 80vh;
}

.note-form {
  width: 50%;
  height: 100%;
  background: #e6a954 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 26px #000000a8;
  border: 0.5px solid #e6a954;
  border-radius: 23px;
}

.note-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.note-form input,
.note-form textarea,
.ts-wrapper {
  width: 80%;
  min-height: 2rem;
  background: white 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px var(--gris-clair);
  border: 1px solid var(--gris-secondaire);
  border-radius: 5px;
  opacity: 0.56;
}

.note-form input,
.note-form textarea {
  padding: 8px 8px;
}

.list-categories {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0rem;
  width: 100vw;
  overflow-x: scroll;
}

.pill-button {
  display: inline-block;
  position: relative;
  color: var(--black);
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: -0.45px;
  font: normal normal bold 25px/30px Dosis;
  transition: color 300ms ease-in;
}

.pill-button:hover {
  color: var(--red);
}

.pill-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transform: translate(-50%, -50%);
}
