:root {
  --orange: #E6A954;
  --marron: #241C12;
  --gris: #000000A8;
  --black: #1A140D;
  --red: #E90D00;
  --text-content: #EFEFEF;
}

* {
  margin: 0;
  padding: 0;
}

.example-wrapper { 
  margin: 1em; 
  font: 18px/1.5 fantasy; 
}

.example-wrapper code { 
  background: #F5F5F5; 
  padding: 2px 6px; 
}

h1 {
  letter-spacing: -0.45px;
  font: normal normal bold 90px/113px Dosis;
  text-align: center;
  color: var(--orange);
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--marron);
  color: var(--text-content);
}

.notes-container {
  display: grid;
  margin: 2rem 4rem;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem;
}

.note {
  background-color: var(--black);
  border-radius: 0.4rem;
  border: 1px solid var(--orange);
  min-height: 8rem;
  padding: 1rem 1.5rem;
}

[function="note-create"] {
  position: absolute;
  z-index: 10;
  bottom: 1rem;
  right: 70px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--orange);
  box-shadow: 0px 5px 26px var(--gris);
}

[function="note-create"]::after {
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--red);
  font: normal normal bold 90px/113px Dosis;
  font-size: 6em;
}
