{% extends 'base.html.twig' %}

{% block title %}Burn-Note{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Vos categories 📝</h1>
    {% if categories %}
      <section class="notes-container">
        {% for category in categories %}
          <div class="note">
            <h2>{{ category.name }}</h2>
              </div>
        {% endfor %}
      </section>
    {% else %}
      <span>Aucune category</span>
    {% endif %}
</div>
{% endblock %}
